*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #000;
    border-left: 10px solid #000;
    transition: .3s;
    overflow: hidden;
}
.navigation.active{
    width: 80px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li:hover,
.navigation ul li.active{
    background-color: #fff;
    color: #000;
}
.navigation ul li:nth-child(1){
    margin-bottom: 48px;
}
.navigation ul li:hover a,
.navigation ul li.active a{
    color: #000;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon i{
    font-size: 1.2em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    background-color: #fff;
    transition: .3s;
}
.main.active{
    width: calc(100% - 80px);
    left: 80px;
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(238, 238, 238);
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}    
.table .btn-sm:nth-child(2){
    margin-left: 6px;
}
td{
    vertical-align: middle;
}
.model {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 25;
    background-color: rgba(0, 0, 0, .8);
}
.deletebox, .edit_add_box, .records_box {
    position: absolute;
    width: 500px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.open{
    display: block;
}
.close{
    display: none;
}
.login{
    background-color: rgb(68, 109, 192);
}
.login .wrapper{
    background-color: #fff;
    margin: 50px auto;
}
@media screen and (max-width: 767px) {
    .table .btn-sm:nth-child(2){
        margin-left: 0;
    }
    .wrapper{
        width: 100%;
    }
}